@charset "utf-8";
a{
    text-decoration: none;
}
article{
    width: 100%;
}
article.pageBox>h3{
    width: 90%;
    padding: 30px 0 10px;
    margin: 0 auto;
    font-size: 24px;
    color: #81d8d0;
}
article>ul{
    width: 90%;
    margin: 0 auto;
}
article>ul>li{
    display: inline;
    color: #999;
    font-family: Arial, Helvetica, sans-serif;
}
article>ul>li>a{
    color: #999;
}
article>ul>li span{
    padding: 0 10px;
    color: #999;
}
section.page{
    width: 90%;
    padding: 42px 0;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
section.page>figure{
    width: 24%;
    padding: 31px 0 9px;
    margin-bottom: 22px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 4px 12px;
}
section.page>figure>img{
    margin-bottom: 9px;
}
section.page>figure>figcaption{
    font: 18px;
    color: #666;
}
section.page>figure>figcaption>dl{
    text-align: left;
    padding: 0 30px;
}
section.page>figure>figcaption>dl>dt{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
section.page>figure>figcaption>dl>dt, section.page>figure>figcaption>dl>dd{
    margin-bottom: 16px;
}