@charset "utf-8";
a{
    text-decoration: none;
}
article{
    width: 100%;
}
article.pageBox>h3{
    width: 440px;
    height: 440px;
    margin: 30px auto 0;
    box-sizing: border-box;
    text-indent: -99999px;
}
h3.sec01{
    background: url("/public/images/sec01.png") no-repeat center;
}
h3.sec02{
    background: url("/public/images/sec02.png") no-repeat center;
}
h3.sec03{
    background: url("/public/images/sec03.jpeg") no-repeat center;
}
h3.sec04{
    background: url("/public/images/sec04.png") no-repeat center top;
}

article.pageBox>p{
    width: 90%;
    padding: 30px 0 10px;
    margin: 0 auto;
    font-size: 21px;
    color: #81d8d0;
}
article>ul{
    width: 90%;
    margin: 0 auto 18px;
}
article>ul>li{
    display: inline;
    color: #999;
    font-family: Arial, Helvetica, sans-serif;
}
article>ul>li>a{
    color: #999;
}
article>ul>li span{
    padding: 0 10px;
    color: #999;
}
section.page{
    width: 90%;
    padding: 42px 0;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
section.page>figure{
    width: 24%;
    padding: 31px 0 9px;
    margin-bottom: 22px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 4px 12px;
}
section.page>figure>img{
    margin-bottom: 9px;
}
section.page>figure>figcaption{
    font: 18px;
    color: #666;
}
section.page>figure>figcaption>dl{
    text-align: left;
    padding: 0 30px;
}
section.page>figure>figcaption>dl>dt{
    font-size: 18px;
}
section.mgb>figure>figcaption>dl>dd:nth-child(2){
    margin-bottom: 45px;
}
section.page>figure>figcaption>dl>dd:last-child{
    font-family: Arial, Helvetica, sans-serif;
}
section.page>figure>figcaption>dl>dt, section.page>figure>figcaption>dl>dd{
    margin-bottom: 16px;
}

.pageBox>div{
    width: 90%;
    margin: 0 auto;
}
.pageBox>div>select{
    width: 200px;
    height: 24px;
    float: right;
    border-radius: 0;
    border: 1px solid #999;
    color: #999;
}