@charset "utf-8";

.hide{
    width: 0; height: 0;
    line-height: 0;
    font-size: 0;
    visibility: hidden;
    position: absolute;
}
#root{
    width: 100%;
}

/* header */
#headerWrap{
    padding: 33px 0;
    background-color: #81d8d0;
}
#headerWrap>header{
    width: 90%;
    /* width: 1370px; */
    margin: 0 auto;
    position: relative;
}
#headerWrap>header>h1{
    text-align: center;
}
#headerWrap>header>ul{
    display: flex;
    position: absolute;
    right: 0; top: 50%;
    transform: translateY(-50%);
}
#headerWrap>header>ul>li{
    padding: 0 15px;
    border-left: 1px solid #fff;
    font: 16px Arial, Helvetica, sans-serif;
}
#headerWrap>header>ul>li:first-child{
    border-left: none;
}
#headerWrap>header>ul>li>a{
    color: #fff;
    text-decoration: none;
}

/* navigation */
#navWrap{
    width: 100%;
    height: 50px;
    left: 0; top: 104px;
}
#navWrap>div{
    width: 100%;
    padding: 15px 0;
    background-color: #ffd0e0;
}
#navWrap>div>nav{
    width: 90%;
    /* width: 1370px; */
    margin: 0 auto;
}
#navWrap>div>nav>ul{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
}
#navWrap>div>nav>ul>li{
    width: 25%;
    text-align: center;
}
#navWrap>div>nav>ul>li>a{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}


/* main */
#content>main>article{
    background-color: #fff;
}
/* flex */
#content>main>article>h3.box01{
    height: 440px;
    background: linear-gradient(#fff, #81d8d0);
}
#content>main>article>h3.box01>div{
    width: 90%;
    /* width: 1370px; */
    height: 100%;
    margin: 0 auto;
    background: url("../public/images/gifts_gifts1_bg2.png") no-repeat left bottom 30px,
    url("../public/images/gifts_gifts1_bg1.png") no-repeat right top;
    display: flex;
    align-items: center;
}
#content>main>article>h3.box01>div>span{
    width: 100%;
    display: block;
    text-align: center;
    font: 70px 'Times New Roman', Times, serif;
    color: #fff;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

section.box01{
    width: 927px;
    padding: 42px 0;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
section.box01>figure{
    width: 222px;
    padding: 31px 0 9px;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 4px 12px;
}
section.box01>figure>img{
    margin-bottom: 9px;
}
section.box01>figure>figcaption{
    font: 18px arial, sans-serif;
    color: #999;
}

h3.box02{
    height: 450px;
    background: linear-gradient(to right, #f4e5ee, #c6bdda);
}
h3.box02>div{
    width: 90%;
    /* width: 1370px; */
    height: 100%;
    margin: 0 auto;
    background: url("../public/images/gifts_gifts2_bg1.png") no-repeat left top,
    url("../public/images/gifts_gifts2_bg2.png") no-repeat right bottom;
    position: relative;
}
h3.box02>div>span{
    display: block;
    position: absolute;
    left: 0; top: 50%;
    width: 100%;
    font: 70px/70px 'Times New Roman', Times, serif;
    color: #fff;
    margin-top: -35px;
    text-align: center;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    /* font: 70px 'Times New Roman', Times, serif;
    color: #fff;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%); */
}

section.box02{
    width: 927px;
    padding: 42px 0;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
section.box02>figure{
    width: 222px;
    padding-bottom: 19px;
    text-align: center;
    background-color: #f2f2f2;
    border-radius: 5px;
}
section.box02>figure>img{
    margin-bottom: 21px;
}
section.box02>figure>figcaption{
    font: 18px arial, sans-serif;
    color: #727272;
}

/* aside */
aside{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ffd0e0;
    text-align: center;
    position: fixed;
    right: 30px; bottom: 30px;
}
aside>p>a{
    display: block;
    color: #81d8d0;
    line-height: 44px;
    text-decoration: none;
}
aside>p>a>svg{
    width: 24px;
}

/* footer */
#footerWrap{
    padding: 19px 0 28px;
    background-color: #81d8d0;
}
#footerWrap>footer{
    font: 9px/16px arial, sans-serif;
    color: #fff;
    text-align: center;
}
#footerWrap>footer>ul{
    width: 220px;
    margin: 0 auto 18px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#footerWrap>footer>ul>li{
    display: inline-block;
}

#footerWrap>footer>dl{
    display: inline;
}
#footerWrap>footer>dl>dt, #footerWrap>footer>dl>dd{
    display: inline;
}
#footerWrap>footer>address, small{
    display: block;
}